*{
    font-family: Helvetica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 1rem;
    background-color: #FEFCF3;
}

section{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

section a, img{
    width: 150px;
    margin: 0 auto;
    padding: 0;
}

h1{
    text-align: center;
    color: #DBA39A;
    padding: 0;
}

p{
    text-align: center;
    padding: 0;
    margin: 0;
    color: #DBA39A;
}

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
    color: #DBA39A;
}

input, select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: #F5EBE0;
    color: #DBA39A;
}

textarea{
    max-width: 100%;
    max-height: 250px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DBA39A;
    color: #FFF;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover{
    background-color: rgba(0, 0, 255, 0.250);
    color: black;
}

@media only screen and (max-width: 430px) {
    section{
        width: 390px;
    }

    form{
        width: 390px;
    }
}

@media only screen and (max-width: 420px) {
    section{
        width: 350px;
    }

    form{
        width: 350px;
    }
}

@media only screen and (max-width: 360px) {
    section{
        width: 330px;
    }

    form{
        width: 330px;
    }
}

@media only screen and (max-width: 325px) {
    section{
        width: 290px;
    }

    form{
        width: 290px;
    }
}

@media only screen and (max-width: 285px) {
    section{
        width: 250px;
    }

    form{
        width: 250px;
    }
}